@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');



html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #f6f3fb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Cg fill='%2326222d' fill-opacity='0.06'%3E%3Cpath fill-rule='evenodd' d='M72 10H40L16 20H0v8h16l24-14h32l24 14h16v-8H96L72 10zm0-8H40L16 4H0v8h16l24-6h32l24 6h16V4H96L72 2zm0 84H40l-24-6H0v8h16l24 2h32l24-2h16v-8H96l-24 6zm0-8H40L16 64H0v8h16l24 10h32l24-10h16v-8H96L72 78zm0-12H40L16 56H0v4h16l24 14h32l24-14h16v-4H96L72 66zm0-16H40l-24-2H0v4h16l24 6h32l24-6h16v-4H96l-24 2zm0-16H40l-24 6H0v4h16l24-2h32l24 2h16v-4H96l-24-6zm0-16H40L16 32H0v4h16l24-10h32l24 10h16v-4H96L72 18z'/%3E%3C/g%3E%3C/svg%3E");
    color: black;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  grid  */

.page {
    height: 100%;
    display: grid; 
    grid-template-rows: 95% 5%; /*row height. we want to have 3 rows in the grid*/
    grid-template-columns: repeat(6,1fr); /*fr=fraction*/
}

main, footer {
    grid-column: span 12; 
}

footer {
    margin-top: 20px;
}

/*  quote  */

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
    margin-top: 10px;
    font-size: 2.75rem;
    letter-spacing: 2px;
}

.long-quote {
    font-size: 2rem;
}

.fa-quote-left {
    font-size: 4rem;
}

.quote-author {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}

/*  buttons  */

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: white;
    background: #9c7db0;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
    filter: brightness(120%);
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.fa-twitter{
    font-size: 1.5rem;
}

/* Media Query: Tablet or Smaller */
/* if the user uses a tablet or phone with a screen size of 1000px or smaller */
/* change the left/right margins of the .quote-container (top/bottom margins stay the same */
/* also change the font size to a smaller size */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }
    .quote-text {
        font-size: 2.5rem;
    }
}

/* loader animation */
.loader {
    margin: auto;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #9c7db0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .fb-share-button {
      margin-left: 10px;
  }
  
img {
    width: 30px;
}

a {
    text-decoration: none;
}